<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
    <head>
        <title>영화의 모든 것, MegaBox</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <th:block layout:fragment="content">
        <body>
            <div>
                <div class="content-header-container">
                    <div class="content-header-wrapper">
                        <div class="content-header-title">무비 차트</div>
                        <div class="content-header-menu">
                            <div class="chart"><button class="selectedMenu">무비차트</button></div>
                            <div class="movie-notice"><button>상영예정작</button></div>
                            <div class="movie-house"><button>CGV아트하우스</button></div>
                        </div>
                    </div>
                    <div class="movie-infomation-wrapper">
                        <div class="movie-informaion">
                        </div>
                    </div>
                </div>
            </div>
            <script src="/js/main.js"></script>
        </body>
    </th:block>
</html>