<!--<%
	CGVMemberDto login = (CGVMemberDto) session.getAttribute("login");
	if (login != null){
		System.out.println(login.toString());
	}
	CGVReserveDto reserve = (CGVReserveDto) request.getAttribute("reserve");
	CGVPayDto pay = (CGVPayDto) request.getAttribute("pay");

	String stringPayMoney = "";
	int payMoney = 0;
	if (pay != null) {
		stringPayMoney = pay.getPayMoney();
		System.out.println(stringPayMoney + "test");
		payMoney = Integer.parseInt(stringPayMoney);
	}
%>-->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>kakao</title>
		<!-- jQuery -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
		<script src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
		<script src="/js/kakaoPay.js"></script>
	</head>
	<body>
		<form th:action="@{/payKakao}" id="payKakaoForm" method="post">
			<input type="hidden" id="pay-money" th:value="${pay.payMoney}">
			<input type="hidden" id="member-id" th:value="${session.login.memberId}">
			<input type="hidden" id="reserve-id" th:value="${reserve.reserveId}">
		</form>
	</body>
</html>