<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
	<head>
		<title>마이페이지</title>
		<link rel="stylesheet" href="/css/reset.css">
		<link rel="stylesheet" href="/css/header.css">
		<link rel="stylesheet" href="/css/myPage.css">
		<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css' />
		<script src='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js'></script>
		<link rel="stylesheet" href="/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
	</head>
	<th:block layout:fragment="content">
		<div th:if="${session.login} == null">
			<script>
				alert("로그인이 필요한 작업입니다 로그인을 진행해 주세요!")
				location.href="/login"
			</script>
		</div>
			<div class="my-page-container">
				<div class="my-page-wrapper">
					<div class="my-page-header">예약한 영화 목록</div>
						<div class="movie-reserve-list">
							<div th:if="${list == null}" th:text="'예약한 영화가 없습니다'"></div>
							<div class="movie-reserve" th:each="reservation : ${list}" th:if="${list != null}">
								<div class="movie-reserve-age" th:text="${reservation.movieAge}"></div>
								<div class="movie-reserve-title" th:utext="${reservation.title}"></div>
								<div class="movie-reserve-theater-wrapper">
									<div th:text="${reservation.selectedTheater}"></div>
									&nbsp;/&nbsp;
									<div class="ticket-numeber" th:text="${reservation.reserveTicket}+'장'"></div>
								</div>
								<div class="movie-reserve-seats" th:text="${reservation.selectedSeat}"></div>
								<div class="movie-reserve-date-wrapper">
									<div class="movie-reserve-date" th:text="${reservation.movieStart}"></div>
								</div>
								<div class="movie"></div>

								<div class="pay-information-wrapper">
									<div class="pay-information-date-wrapper">
										<div class="pay-information-date-title">결제한 날</div>
										<div class="pay-information-date" th:text="${reservation.payDate}"></div>
									</div>
									<div class="pay-information-money-wrapper">
										<div class="pay-information-money-title">결제한 비용</div>
										<div class="pay-information-money" th:text="${reservation.payMoney}+'원'"></div>
									</div>
									<div class="barcode-wrapper">
										<div>MAGA BOX</div>
										<img src="/images/barcode.png">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</body>
	</th:block>
</html>