<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
	<head>
		<title>Insert title here</title>
	</head>
	<th:block layout:fragment="content">
		<body>
			<!--<div th:if="${isSuccess == null}">
				isSuccess = false;
			</div>-->

			<div th:if="${#strings.equals(type,'register')}">
				<div th:if="${isSuccess != null && isSuccess == true}">
					<script>
						alert("회원가입이 정상적으로 완료되었습니다");
						location.href = "/login"
					</script>
				</div>
				<div th:unless="${isSuccess != null && isSuccess == true}">
					<script>
						alert("회원가입에 실패하였습니다");
						location.href = "/register"
					</script>
				</div>
			</div>


			<div th:if="${#strings.equals(type,'bbsWrite')}">
				<div th:if="${isSuccess != null && isSuccess == true}">
					<script>
						alert("글 작성이 완료되었습니다");
						location.href = "/bbsList"
					</script>
				</div>
				<div th:unless="${isSuccess != null && isSuccess == true}">
					<script>
						alert("글 작성에 실패하였습니다");
						location.href = "/bbsList"
					</script>
				</div>
			</div>


			<div th:if="${#strings.equals(type,'bbsUpdate')}">
				<div th:if="${isSuccess != null && isSuccess == true}">
					<script>
						alert("글 수정이 완료되었습니다");
						location.href = "/bbsList"
					</script>
				</div>
				<div th:unless="${isSuccess != null && isSuccess == true}">
					<script>
						alert("글 수정에 실패하였습니다");
						location.href = "/bbsList"
					</script>
				</div>
			</div>


			<div th:if="${#strings.equals(type,'bbsDelete')}">
				<div th:if="${isSuccess != null && isSuccess == true}">
					<script>
						alert("글 삭제가 완료되었습니다");
						location.href = "/bbsList"
					</script>
				</div>
				<div th:unless="${isSuccess != null && isSuccess == true}">
					<script>
						alert("글 삭제에 실패하였습니다");
						location.href = "/bbsList"
					</script>
				</div>
			</div>


			<div th:if="${#strings.equals(type,'answerWrite')}">
				<div th:if="${isSuccess != null && isSuccess == true}">
					<script>
						alert("답글 작성이 완료되었습니다");
						location.href = "/bbsList"
					</script>
				</div>
				<div th:unless="${isSuccess != null && isSuccess == true}">
					<script>
						alert("답글 작성에 실패하였습니다");
						location.href = "/bbsList"
					</script>
				</div>
			</div>


			<div th:if="${#strings.equals(type,'reserve')}">
				<div th:if="${isSuccess != null && isSuccess == true}">
					<script>
						alert("결제및 예약이 완료되었습니다");
						location.href = "/"
					</script>
				</div>
				<div th:unless="${isSuccess != null && isSuccess == true}">
					<script>
						alert("결제및 예약에 실패하였습니다");
						location.href = "/"
					</script>
				</div>
			</div>

			<div th:if="${#strings.equals(type,'reLogin')}">
					<script>
						alert("다시 로그인 하세요");
						location.href = "/login"
					</script>
			</div>

		</body>
	</th:block>
</html>